body {
	font-family: Roboto;
	background: #403a3e; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #403a3e, #be5869); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to right, #403a3e, #be5869);
}

#container {
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
	color: gray;
	text-decoration: line-through;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	background: #2980b9;
	color: white;
	margin: 0 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 400;
}

span {
	background-color: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1;
}


li {
	background: #ffffff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding:  13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: rgba(0, 0, 0, 0);
}

input:focus {
	background-color: white;
	border: 3px solid #2980b9;
	outline: none;
}

li:nth-child(2n) {
	background: #f7f7f7;
}

.fa-plus {
	float: right;
}